<div class="block">
    {{#link-to 'notes'}}
    	<button {{action "removeNote" this}} class="btn btn-info">Delete</button>
    {{/link-to}}
</div>
<div class="block">
    {{#if isEditing}}
        <div class="block" id="editForm">
		    <form class="form-horizontal block">
		        <div class="form-group">
		            <div class="col-sm-3">
		                {{input type="text" class="form-control" id="editNoteTitle" placeholder="Type note title" value=model.title}}
		            </div>
		        </div>
		    </form>
		</div>
        <button {{action 'doneEditing'}} class="btn btn-info">Done</button>
    {{else}}
        <button {{action 'edit'}} class="btn btn-info">Edit</button>
    {{/if}}
</div>
<div class='block'>
    <h2>{{model.title}}</h2>
    <p>{{format-date model.date}}</p>
</div>