{{render "navbar"}}

<div class="block notesPresentation">
    <h3 class="text-center text-uppercase lead">{{model.name}}, {{noteMessage}}</h3>
    {{#link-to 'index' class="welcome"}}
        <h4 class="text-center lead">Add new note</h4>
    {{/link-to}}    
    <hr class="titleHr"/>

    {{#each sortedNotes}}
        {{#view 'note' length=title.length}}
                <div class="notePresentation">
                    <p class="text-center">
                        <small class="publicDate">{{format-date date}}</small>
                        <small class="glyphicon glyphicon-trash" {{action 'removeNote' this}}></small>                        
                    </p>
                    <h3 class="text-center lead">{{title}}</h3> 
                </div>
        {{/view}}
        <hr/>
    {{/each}}
</div>