<div class="block" id="createNote">	
	<div class="input-group col-sm-offset-3">
		{{input type="text" class="form-control" id="inputNoteTitle" placeholder="Type a note" value=title insert-newline='doneAddingNote'}}
		<span class="input-group-btn">
			<button type="submit" class="btn glyphicon glyphicon-plus" {{action 'doneAddingNote'}}></button>
		</span>
	</div>
</div>

<div class="block">
	{{#if latestNotes}}
		<h3 class="text-center text-uppercase lead">{{model.name}}, your last notes:</h3>
		<hr class="titleHr"/>
	{{/if}}
	{{#each latestNotes}}
		<h3 class="text-center lead">{{title}}</h3>
		<p class="text-center"><em>{{format-date date}}</em></p>
		<hr/>
	{{else}}
		<h3 class="text-center lead">Hi {{model.name}}, you don't have any notes</h3>
    {{/each}}
</div>

<div class="block">
	{{#if latestNotes}}
    	{{#link-to 'notes' this tagName='button' class="btn col-sm-offset-3 notesBtn"}}All Notes{{/link-to}}
    {{/if}}
</div>
